name: preset-cypress
on:
  workflow_call:
    inputs:
      runner:
        type: string
        default: ubuntu-latest
      working_directory:
        type: string
        default: "."
      fetch_depth:
        type: number
        default: 0
      node_version:
        type: string
        default: "20"
      lint_command:
        type: string
        default: ""
      test_command:
        type: string
        default: ""
      build_command:
        type: string
        default: ""
      docker_command:
        type: string
        default: ""
      e2e_command:
        type: string
        default: "yarn install --frozen-lockfile && yarn dlx cypress install && yarn dlx start-server-and-test 'yarn dev' http://localhost:3000 'npx cypress run'"
      extra_command:
        type: string
        default: ""

jobs:
  ci:
    uses: nikolareljin/ci-helpers/.github/workflows/ci.yml@production
    with:
      runner: ${{ inputs.runner }}
      working_directory: ${{ inputs.working_directory }}
      fetch_depth: ${{ inputs.fetch_depth }}
      node_version: ${{ inputs.node_version }}
      lint_command: ${{ inputs.lint_command }}
      test_command: ${{ inputs.test_command }}
      build_command: ${{ inputs.build_command }}
      docker_command: ${{ inputs.docker_command }}
      e2e_command: ${{ inputs.e2e_command }}
      extra_command: ${{ inputs.extra_command }}
