name: gitleaks-check
on:
  pull_request:
    branches:
      - main
      - master
  schedule:
    - cron: "0 5 * * 6"

jobs:
  scan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true

      - name: Gitleaks scan
        uses: nikolareljin/ci-helpers/.github/actions/gitleaks-scan@production
        with:
          scan_path: "."
          report_format: sarif
          output: results.sarif
          fail_on_findings: true

      - name: Upload artifact
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: gitleaks-report
          path: results.sarif
          if-no-files-found: warn
