name: preset-java-gradle
on:
  workflow_call:
    inputs:
      runner:
        type: string
        default: ubuntu-latest
      working_directory:
        type: string
        default: "."
      fetch_depth:
        type: number
        default: 0
      java_version:
        type: string
        default: "17"
      lint_command:
        type: string
        default: "./gradlew check -x test"
      test_command:
        type: string
        default: "./gradlew test"
      build_command:
        type: string
        default: "./gradlew build"
      e2e_command:
        type: string
        default: ""
      docker_command:
        type: string
        default: ""
      extra_command:
        type: string
        default: ""

jobs:
  ci:
    uses: nikolareljin/ci-helpers/.github/workflows/ci.yml@production
    with:
      runner: ${{ inputs.runner }}
      working_directory: ${{ inputs.working_directory }}
      fetch_depth: ${{ inputs.fetch_depth }}
      java_version: ${{ inputs.java_version }}
      lint_command: ${{ inputs.lint_command }}
      test_command: ${{ inputs.test_command }}
      build_command: ${{ inputs.build_command }}
      e2e_command: ${{ inputs.e2e_command }}
      docker_command: ${{ inputs.docker_command }}
      extra_command: ${{ inputs.extra_command }}
